<div class="height text-center">
    <div class="d-flex justify-content-center semi-bold font-size42"><div> Hi, I'm</div><div class="color-title"> &nbsp;Excell</div></div>
    <div class="font-size20">I'm Web Developer and UI/UX Designer</div>
    <br>
    <%= button_to "About Me", about_path, class: "btn-about semi-bold", method: :get  %>
</div>