/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&family=Saira:wght@500&display=swap');
* {
    text-decoration: none;
}
body{
    font-family: 'Raleway', sans-serif;

}

.navbar-content {
    background-color: #151515;
    height: 70px;
    padding: 0% 100px 0% 100px;
    align-items: center;
}

.navbar-center {
    text-align: center;
    align-items: center;
}

.navbar-title {
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.navbar-title>div {
    color: white;
}

.nav-link {
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.color-title {
    color: #C02739 !important;
}

.nav-link:hover {
    color: #C02739;
}

.my-container {
    padding: 0% 100px 0% 100px;
    color: white;
    background-color: #151515;
    height: 100%;
    width: 100%;
}

/* Font Weight CSS  */
.semi-bold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

/* Font Size CSS */
.font-size42 {
    font-size: 42px;
}

.font-size20 {
    font-size: 20px;
}

/* Home CSS */
.height {
    padding-top: 20%;
    padding-bottom: 22.5%;
}

.btn-about {
    color: #C02739;
    background-color: #151515;
    border: 2px solid #C02739; 
    border-radius: 4px;
    font-size: 14px;
    height: 40px;
    width: 102px;
    transition:0.5s;
}

.btn-about:hover {
    color: white;
    background-color: #C02739;
    transition:0.5s;
}



